In [1]:
### Analysis for consumer finance company

In [6]:
#import all required libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [4]:
# read the data set we have.

In [56]:
loan_data = pd.read_csv('loan.csv')

In [25]:
# As part of initial step, understand the data set given

In [57]:
loan_data.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
0,1077501,1296599,5000,5000,4975.0,36 months,10.65%,162.87,B,B2,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
1,1077430,1314167,2500,2500,2500.0,60 months,15.27%,59.83,C,C4,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
2,1077175,1313524,2400,2400,2400.0,36 months,15.96%,84.33,C,C5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
3,1076863,1277178,10000,10000,10000.0,36 months,13.49%,339.31,C,C1,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
4,1075358,1311748,3000,3000,3000.0,60 months,12.69%,67.79,B,B5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN

In [58]:
loan_data.shape

(39717, 111)

In [59]:
loan_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39717 entries, 0 to 39716
Columns: 111 entries, id to total_il_high_credit_limit
dtypes: float64(74), int64(13), object(24)
memory usage: 33.6+ MB

In [60]:
## from the above data from head, looks like tehre are lot of NAs 
## see if there are any columns that are completely empty

In [65]:
nan_cols = [i for i in loan_data.columns if loan_data[i].isnull().all()]
len(nan_cols)

54

In [66]:
#confirm the above data by looking at isna for each column
loan_data.isna().sum()

id                                0
member_id                         0
loan_amnt                         0
funded_amnt                       0
funded_amnt_inv                   0
                              ...
tax_liens                        39
tot_hi_cred_lim               39717
total_bal_ex_mort             39717
total_bc_limit                39717
total_il_high_credit_limit    39717
Length: 111, dtype: int64

In [76]:
# There are some 54 columns that are completely empty.
# We need to remove these columns
#just to be on a safer side, look at few columns randomly in the csv

In [67]:
loan_data.dropna(axis=1, how='all', inplace=True)

In [68]:
#confirm if these columns are removed.
loan_data.shape

(39717, 57)

In [69]:
# Still there are columns which have more than 90% missing data in them
# lets see what all columns have more than 90% missing data

In [95]:
P90 = 39717*0.90
nan90_cols = [i for i in loan_data.columns if loan_data[i].isna().sum()>=P90]
nan90_cols

['mths_since_last_record', 'next_pymnt_d']

In [77]:
# Further looks like there are some columns where there are more zeros, let's see if there are any columns where all values represent same data

In [90]:
cols_nounique = [i for i in loan_data.columns if loan_data[i].nunique()==1]
cols_nounique

['pymnt_plan',
 'initial_list_status',
 'collections_12_mths_ex_med',
 'policy_code',
 'application_type',
 'acc_now_delinq',
 'chargeoff_within_12_mths',
 'delinq_amnt',
 'tax_liens']

In [ ]:
# since all values are same, it doesn't provide any valuable insight.
# drop these columns as well

In [91]:
loan_data.drop(columns=cols_nounique, inplace=True, axis=1)

In [92]:
# verify the drop again

In [93]:
loan_data.shape

(39717, 48)

In [104]:
loan_data_cols = loan_data.columns.tolist()

In [115]:
# save the filtered data into new csv so that it is easy to look at data
loan_data.to_csv('FilteredLoanData.csv', index=False)

In [ ]:
#Let's see manually if any column is further redundant

In [ ]:
#columns that are ot necessary
# 1. url - we only have loan id changing. hence this can be ignored
#